<h1>Cadastrar Gênero</h1>
<form action="/genres/create" method="POST">
  <label for="name">Nome:</label>
  <input type="text" id="name" name="name" required>
  <button type="submit">Cadastrar</button>
</form>