<h1>Cadastrar Artista</h1>
<form action="/artists/create" method="POST">
  <label for="name">Nome:</label>
  <input type="text" id="name" name="name" required>

  <label for="genre">Gênero Musical:</label>
  <input type="text" id="genre" name="genre">

  <button type="submit">Cadastrar</button>
</form>